<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		">
	<context:property-placeholder location="WEB-INF/database.properties" />
	
	<!-- Connection pool config -->
	<bean id="dataSource" class="by.epam.news.database.pool.impl.ConnectionPool"
		init-method="init" destroy-method="destroy" scope="singleton">
		<property name="driverClass" value="${db.driverClass}" />
		<property name="url" value="${db.url}" />
		<property name="user" value="${db.user}" />
		<property name="password" value="${db.password}" />
		<property name="poolSize" value="${db.poolSize}" />
	</bean>

	<!-- NewsDAO -->
	<bean name="newsDAO" class="by.epam.news.database.dao.impl.NewsDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean name="/news" class="by.epam.news.presentation.action.NewsAction">
		<property name="newsDAO" ref="newsDAO" />
	</bean>


</beans>